/* font import */
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

/* css reset */

/* makes sizing simpler */

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* remove default spacing */
/* force styling of type through styling, rather than elements */

* {
	margin: 0;
	padding: 0;
	font-family: "Bebas Neue", sans-serif;
}

/* dark mode user-agent-styles */

html {
	color-scheme: dark light;
}

/* min body height */

body {
	min-height: 100vh;
	display: grid;
	place-content: center;
	position: relative;
}

/* responsive images/videos */
img,
picture,
svg,
video {
	display: block;
	max-width: 100%;
}

/* main styles */

.container {
	margin-inline: 0.4rem;
}

.date {
	text-align: center;
}

.fixed-header {
	position: fixed;
	top: 20%;
	left: 37%;
	/* transform: translate(-50%, -50%); */
}

.search-container {
	display: flex;
	justify-content: center;
	/* align-items: center; */
	gap: 0.3rem;
}

.fa-globe {
	margin: auto 0;
}

input {
	padding: 0.5rem 2rem;
	font-size: 1.2rem;
}

.weather-info {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.location-temp {
	text-align: center;
}

.location {
	font-size: 2rem;
}

.temp {
	font-size: 5rem;
}

.temp-conversion-btns {
	visibility: hidden;
}

.temp-conversion-btns button {
	padding: 0.4rem;
	margin: 0.4rem;
	cursor: pointer;
}

.additional-temp-info {
	visibility: hidden;
	display: flex;
	gap: 3rem;
}

.additional-temp-info div {
	display: flex;
	flex-direction: column;
}

.wind-info {
	visibility: hidden;
	display: flex;
	gap: 7.1rem;
}
