/* font import */
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

/* css reset */

/* makes sizing simpler */

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* remove default spacing */
/* force styling of type through styling, rather than elements */

* {
	margin: 0;
	padding: 0;
	font-family: "Bebas Neue", sans-serif;
}

/* dark mode user-agent-styles */

html {
	color-scheme: dark light;
}

/* min body height */

body {
	min-height: 100vh;
	display: grid;
	place-content: center;
}

/* responsive images/videos */
img,
picture,
svg,
video {
	display: block;
	max-width: 100%;
}

/* main styles */

.container {
	margin-inline: 0.4rem;
}

.date {
	text-align: center;
}

.search-container {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.3rem;
}

.weather-info {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.location-temp {
	text-align: center;
}

.temp-conversion-btns {
	visibility: hidden;
}

.additional-info {
	display: flex;
	gap: 3rem;
}
